@font-face {
  font-family: 'slabo';
  src: local('slabo'),
    url('https://fonts.google.com/specimen/Slabo+27px') format('truetype');
}

.App {
  text-align: center;
  background-color: #747a88;
}

body {
  font-family: 'slabo';
  font-size: large;
}
